html {
  text-align: center;
  background-image: url(../versatrans/images/roll-of-money.jpg);
}

h1 {
  font-size: 7rem;
  color: white;
}

label {
  color: #fff;
}

.moveOver {
  float: left;
  margin-left: 5rem;
}

#submitButton {
  margin-left: -62rem;
}

a {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: blue;
}

a:visited {
  color: purple;
}

section {
  float: left;
  margin-right: 20px;
  color: white;
  width: 30%;
  height: 15rem;
}
