div{
  margin-left: auto;
  margin-right:auto;
}

table  {
  border: 1px solid black;
  width: 65%;
  text-align:center;
  table-layout: fixed;
  margin: auto auto
  
}

button{
  border: 1px solid;
  width: 15%;
  table-layout: fixed;
  margin: auto;
  text-align: center;
}

#firstButtonMargin{
  margin-left: 30%;
}


